<section class="container">
  <form action="" method="post">
    <h2 class="form-title">Login to your Account</h2>
    <% if (messages.error) { %>
      <p class="error"><%= messages.error %></p>
    <% } %>
    <div class="form-field">
      <label for="email">Email<span class="required">*</span></label>
      <input
        type="text"
        id="email"
        name="email"
        placeholder="e.g mail@domain.com"
        required />
    </div>
    <div class="form-field">
      <label for="password">Password<span class="required">*</span></label>
      <input
        type="password"
        name="password"
        placeholder="e.g **********"
        id="password"
        required />
    </div>
    <button class="auth-btn">Sign In</button>
    <div class="form-footer">
      <span>Don&apos;t have an account? <a href="/signup">Sign Up</a></span>
    </div>
  </form>
</section>
